.cardinv {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.3);
    width: 95%;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
}

.barinvadd{
    display:inline-block;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color:#fff;
    background-color: rgba(53, 39, 68, 1);
    border-radius: 5px;
    margin: 25px 0;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-size: 15px;
}
.barinvadd:hover{
    background-color: #ff8243;
}
.barinvdel{
    display:inline;
    align-items: center;
    justify-content: center;
    float:right;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(53, 39, 68, 1);
    border-radius: 5px;
    margin: 25px 0;
    margin-right: 25px;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-size: 15px;
}
.barinvdel:hover{
    background-color: #ff8243;
}

.graph{
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 25%;
    border: none;
    outline: none;
    color: White;
    background-color: #352744;
    border-radius: 5px;
    margin: 25px 0;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-size: 15px;
    float: right;
}
.graph:hover{
    background-color: #ff8243;
}


.barstatus{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.barstatus .tbl-head{
    font-weight: bold;
}

.view-bar-inv{
    text-align: center;
    padding: 10px;
}

.barData{
    width: 70%;
    top: 10px;
    border-collapse: collapse;
    border:  #060606;
    min-width: 1000px;
    border-radius: 5px;  
}


/* new table */
.table1{
    width: 100%;
    top:10px;
}
.bar-tbl{
    width: 100%;
    top:10px;
    border-collapse: collapse;
    min-width: 1000px;
    border-radius: 5px;
}
.stk-tbl-head .tbl-head{
    position: sticky;
    top:0;
    background-color: rgba(53, 39, 68, 1);
    color: #e6e7e8;
    font-size: 15px;
}
.view-bar-inv td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    word-break: break-all;
    text-align: center;
}
tr:nth-child(even){
    background-color: #e7e7e7;
}
tr:nth-child(odd){
    background-color: #edeef1;
}
tr:hover td{
    cursor: pointer;
    background-color: #D2d3d5;
}



