@font-face {
  font-family: "Nunito Regular";
  src: url(./assets/fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito Medium";
  src: url(./assets/fonts/Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url(./assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito Bold";
  src: url(./assets/fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito Black";
  src: url(./assets/fonts/Nunito-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(0, 0, 0);
}

:root {
  --white: #000000;
  --google-blue: #4285f4;
  --button-active-blue: #1669f2;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: var(--google-blue);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white);
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px var(--google-blue);
}

.google-btn:active {
  background: var(--button-active-blue);
}




@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merienda:wght@500&display=swap');

body{
  
  background-color: #000000; 
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'Poppins', sans-serif;
  
}

.cont{
  margin: 15vh 0;
  min-height: 75vh;
  padding-top: 20px;
  width: 100%;
}

/* CSS for footer */
.footer {
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.footer .copy {
  
  color: #fff;
  font-size: 20px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  font-size: 20px;
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}


/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.navbar-nav{
  margin:auto;
}

.nav-link{
  font-size: 40px;
  color: #ffffff;
  padding-left: 20%;
}

.btn-outline-success {
  margin-right: auto;
  color: #1a1818;
  background-color: #498e29;

}

.nav-item{
  font-size: 25px;
  padding: 0%;
  margin: 0%;
}

.nav-item:hover{
  color: #ffffff;
}

.navbar-brand{
  padding: 0;
  margin: 0;
  
}

.lgBtn{
  background-color: #498e29;
  font-size: 22px;
  width: 110px;
  border-radius: 5px;
  padding: 0px 20px;
  color:#ffffff;
  border: none;
}

.lgBtn:hover{
  color: #ffffff;
  background-color:#3ab900;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
